@page
@model SystemUdviklingProjekt.Pages.LoginModel
@{
	
}
@{
    ViewData["Title"] = "Login";
    ViewData["ShowNavbar"] = false;
}


<div class="wrapper">
    <div class="login-container">
        <h2 class="login-title">Login for at fortsætte</h2>
        <form method="post" class="login-form">
            <div class="form-group">
                <label asp-for="Username" class="form-label">USERNAME OR EMAIL</label>
                <input asp-for="Username" class="form-input" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="form-label">PASSWORD</label>
                <input asp-for="Password" type="password" class="form-input" />
            </div>
            <button type="submit" class="login-button">Login</button>
            <div class="forgot-password">
                <a asp-page="/ForgotPassword">FORGOT PASSWORD?</a>
            </div>
            <div class="register-link">
                <a asp-page="/Register" class="btn btn-secondary">Opret bruger</a>
            </div>
        </form>
    </div>
</div>



@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p style="color:red">@Model.ErrorMessage</p>
}

@if (!string.IsNullOrEmpty(Model.Message))
{
    <p style="color:green">@Model.Message</p>
}
