@page
@model SystemUdviklingProjekt.Pages.RegisterModel
@{
}
@{
    ViewData["Title"] = "Opret Bruger";
    ViewData["ShowNavbar"] = false;
}




<div class="wrapper">
    <div class="login-container">
        <h2 class="login-title">Opret profil</h2>

        <form method="post" class="login-form">
            <div class="form-group">
                <label class="form-label">Brugernavn</label>
                <input asp-for="Username" class="form-input" required />
            </div>

            <div class="form-group">
                <label class="form-label">Adgangskode</label>
                <input asp-for="Password" type="password" class="form-input" required />
            </div>

            <div class="form-group">
                <label class="form-label">Navn</label>
                <input asp-for="Name" class="form-input" required />
            </div>

            <div class="form-group">
                <label class="form-label">Telefon</label>
                <input asp-for="Phone" class="form-input" required />
            </div>

            <div class="form-group">
                <label class="form-label">Email</label>
                <input asp-for="Email" type="email" class="form-input" required />
            </div>
            <div class="form-group">
                <label class="form-label">ZipCode</label>
                <input asp-for="ZipCode" type="ZipCode" class="form-input" required />
            </div>
            <div class="form-group">
                <label class="form-label">Description</label>
                <input asp-for="Description" type="Description" class="form-input" required />
            </div>

            <button type="submit" class="login-button">Opret profil</button>

            @if (!string.IsNullOrEmpty(Model.Message))
            {
                <p style="margin-top: 15px; color: green;">@Model.Message</p>
            }
        </form>
    </div>
</div>
